@font-face {
  font-family: "PNJ";
  src: url(./fonts/PNJ-Medium.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-image: url(./assets/BG.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Book */
.book {
  position: relative;
  width: 35%;
  height: 85%;
  transition: transform 0.5s;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front,
.back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
  /* border-top: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom: 3px solid blue; */
  border-radius: 0 2rem 2rem 0;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid powderblue;
}

.back {
  z-index: 0;
  /* border-left: 3px solid powderblue; */
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg);
}

.img-container {
  height: auto;
  width: 80%;
}

.img-container img {
  width: 100%;
  height: auto;
}

.p-p1 {
  padding: 0 4rem 0 3.5rem;
  font-family: "PNJ";
  font-size: 3.5rem;
  color: #083a6d;
  font-style: italic;
}

.p-p2 {
  padding: 0 4rem 0 3.5rem;
  font-family: "PNJ";
  font-size: 3rem;
  color: #083a6d;
  font-style: italic;
}

.p-timer {
  padding: 0 10rem 0 10rem;
  font-family: "PNJ";
  font-size: 3rem;
  color: #083a6d;
  font-style: italic;
  text-align: center;
  margin-bottom: 2rem;
}

#f5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-container {
  background-image: url(./assets/403408826_1123424415320346_7194572815024836286_n.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 6em;
  color: #083a6d;
  font-family: "PNJ";
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#b6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-p7 {
  padding: 0 2rem 0 1.5rem;
  font-family: "PNJ";
  font-size: 3rem;
  color: #083a6d;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item_nav {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.img_nav {
  width: 40%;
  height: auto;
}

.img_nav img {
  width: 100%;
  height: auto;
}

a {
  color: #083a6d !important;
  font-family: "PNJ";
  font-size: 2.5rem;
  text-decoration: underline;
}

#b7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#countdown {
  font-size: 10rem;
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: #636363;
}

i {
  font-size: 50px;
  color: gray;
}

/* Paper stack order */
#p1 {
  z-index: 7;
}

#p2 {
  z-index: 6;
}

#p3 {
  z-index: 5;
}
#p4 {
  z-index: 4;
}

#p5 {
  z-index: 3;
}

#p6 {
  z-index: 2;
}

#p7 {
  z-index: 1;
}

@media only screen and (max-width: 1600px) {
  /* Kiểu dáng cho màn hình có chiều rộng tối đa 1600px */
  .book {
    width: 36%;
    height: 90%;
  }

  iframe {
    width: 90%;
    height: 90%;
  }

  #countdown {
    font-size: 8rem;
  }

  .p-p1 {
    padding: 0 5rem 0 4.5rem;
  }

  .p-p2 {
    padding: 0 5rem 0 4.5rem;
  }

  .p-timer {
    padding: 0 8rem 0 8rem;
  }

  .item_nav span {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .book {
    width: 36%;
    height: 90%;
  }

  iframe {
    width: 90%;
    height: 90%;
  }

  .p-p1 {
    padding: 0 3rem 0 2.5rem;
    font-size: 2rem;
  }

  .p-p2 {
    padding: 0 3rem 0 2.5rem;
    font-size: 2rem;
  }

  #countdown {
    font-size: 6rem;
  }

  .p-timer {
    padding: 0 1rem 0 0.5rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .p-p7 {
    font-size: 1.5rem;
  }

  .item_nav span {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 991px) {
  .book {
    width: 36%;
    height: 90%;
  }

  iframe {
    width: 90%;
    height: 90%;
  }

  .p-p1 {
    padding: 0 1.5rem 0 1rem;
    font-size: 2rem;
  }

  .p-p2 {
    padding: 0 1.5rem 0 1rem;
    font-size: 2rem;
  }

  .p-timer {
    padding: 0 1rem 0 0.5rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  #countdown {
    font-size: 4rem;
  }

  .p-p7 {
    font-size: 1.7rem;
  }

  .item_nav span {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  /* Kiểu dáng dành cho màn hình có chiều rộng tối đa 767px */
}
